<a href="https://colab.research.google.com/github/ivianrr/curso-big-data/blob/main/Sesi%C3%B3n%202/M4_09_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [2]:
pd.__version__

'1.3.5'

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series. 
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [ ]:
datos = [2, 3, 5, 7, 11]

sr=pd.Series(datos)

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [ ]:
l1=list(sr)
print(l1)
type(l1)

[2, 3, 5, 7, 11]

list

In [ ]:
l2=sr.to_list()
print(l2)
type(l2)

[2, 3, 5, 7, 11]

list

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [3]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [4]:
print(serie1 + serie2)
print(serie1 - serie2)
print(serie1 * serie2)
print(serie1 / serie2)

0    10
1    10
2    10
3    10
4    10
dtype: int64
0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64
0     9
1    16
2    21
3    24
4    25
dtype: int64
0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [7]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [8]:
serie1>serie2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
serie1==serie2

0    False
1    False
2    False
3     True
4    False
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?



```
Se comparan elemento a elemento.
```

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [14]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie=pd.Series(datos)
print(serie['b'],"\n")
serie

20

a    10
b    20
c    30
d    40
dtype: int64

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [22]:
#Crea un array NumPy 
import numpy as np
vector = np.random.random(10)
vector

array([0.43051516, 0.18435784, 0.43816907, 0.87469312, 0.06155832,
       0.42172521, 0.82737892, 0.76187126, 0.35345572, 0.89455406])

In [23]:
#Conviertelo en un objeto Series.
pd.Series(vector)

0    0.430515
1    0.184358
2    0.438169
3    0.874693
4    0.061558
5    0.421725
6    0.827379
7    0.761871
8    0.353456
9    0.894554
dtype: float64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [ ]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [ ]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [ ]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [ ]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

serie

0       1.1
1    Python
2       0.5
3    pandas
4       2.8
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [ ]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie

0    Python
1        C#
2       C++
3      Java
4       PHP
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [ ]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [ ]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [ ]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [ ]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [ ]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [ ]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [ ]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0       2.3
1    Python
2        90
3       100
4       NaN
5       0.5
6        .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [ ]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6       NaN
dtype: object