<a href="https://colab.research.google.com/github/ivianrr/curso-big-data/blob/main/Sesi%C3%B3n%202/M4_09_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd

# Ejercicio 1

Obtener la versión de la librería pandas.

In [81]:
pd.__version__

'1.3.5'

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series. 
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [82]:
datos = [2, 3, 5, 7, 11]

sr=pd.Series(datos)

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [83]:
l1=list(sr)
print(l1)
type(l1)

[2, 3, 5, 7, 11]

list

In [84]:
l2=sr.to_list()
print(l2)
type(l2)

[2, 3, 5, 7, 11]

list

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [85]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [86]:
print(serie1 + serie2)
print(serie1 - serie2)
print(serie1 * serie2)
print(serie1 / serie2)

0    10
1    10
2    10
3    10
4    10
dtype: int64
0   -8
1   -6
2   -4
3   -2
4    0
dtype: int64
0     9
1    16
2    21
3    24
4    25
dtype: int64
0    0.111111
1    0.250000
2    0.428571
3    0.666667
4    1.000000
dtype: float64

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [87]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [88]:
serie1>serie2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [89]:
serie1==serie2

0    False
1    False
2    False
3     True
4    False
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?



```
Se comparan elemento a elemento.
```

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [90]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie=pd.Series(datos)
print(serie['b'],"\n")
serie

20

a    10
b    20
c    30
d    40
dtype: int64

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [91]:
#Crea un array NumPy 
import numpy as np
vector = np.random.random(10)
vector

array([0.43602989, 0.96614868, 0.62744008, 0.28294923, 0.739641  ,
       0.42624991, 0.24442453, 0.87341176, 0.23801799, 0.86583558])

In [92]:
#Conviertelo en un objeto Series.
pd.Series(vector)

0    0.436030
1    0.966149
2    0.627440
3    0.282949
4    0.739641
5    0.426250
6    0.244425
7    0.873412
8    0.238018
9    0.865836
dtype: float64

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [93]:
datos = pd.Series(['100', '200', '', '300.15', '500.8'])
pd.to_numeric(datos)

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [94]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

In [95]:
serie=df['A']
serie

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [131]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

In [135]:
serie2=serie.explode()
serie2=serie2.reset_index(drop=True)
serie2

0     Colombia
1         Perú
2    Argentina
3      Bolivia
4      Uruguay
5        Chile
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [98]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

In [99]:
serie.sort_values()

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [100]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']

serie = pd.Series(datos)

serie

0    Python
1        C#
2       C++
3      Java
4       PHP
dtype: object

In [101]:
serie.append(pd.Series(['C','Rust','Javascript']))

0        Python
1            C#
2           C++
3          Java
4           PHP
0             C
1          Rust
2    Javascript
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [102]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie

0    0
1    1
2    7
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [103]:
serie[serie<6]

0    0
1    1
3    3
4    4
5    5
dtype: int64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [104]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [105]:
serie.reindex(index=['B', 'A', 'C', 'D', 'E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [106]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

In [107]:
serie.mean()

12.9

In [108]:
serie.std()

9.024041962077378

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [109]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

In [110]:
serie.min()

0

In [111]:
serie.max()

29

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

In [112]:
serie.describe()

count     8.000000
mean     13.000000
std      10.155927
min       0.000000
25%       5.750000
50%      12.000000
75%      20.000000
max      29.000000
dtype: float64

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [113]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie

0    19
1     2
2    13
3     0
4    23
5    29
6    11
7     7
dtype: int64

In [114]:
serie[serie%2==1]

0    19
2    13
4    23
5    29
6    11
7     7
dtype: int64

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

In [115]:
serie.to_numpy()

array([19,  2, 13,  0, 23, 29, 11,  7])

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [116]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie

0     20.0
1     30.0
2      NaN
3     50.0
4    100.0
dtype: float64

In [117]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
dtype: bool

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [118]:
serie1 = pd.Series(list(range(1, 11)))

serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [119]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

In [120]:
serie1.add(serie2)

0    11
1    11
2    11
3    11
4    11
5    11
6    11
7    11
8    11
9    11
dtype: int64

In [121]:
serie1.subtract(serie2)

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [122]:
serie1.multiply(serie2)

0    10
1    18
2    24
3    28
4    30
5    30
6    28
7    24
8    18
9    10
dtype: int64

In [123]:
serie1.divide(serie2)

0     0.100000
1     0.222222
2     0.375000
3     0.571429
4     0.833333
5     1.200000
6     1.750000
7     2.666667
8     4.500000
9    10.000000
dtype: float64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [124]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0    2.3
1     90
2    100
3    NaN
4    0.5
5     .9
dtype: object

In [125]:
serie.dropna()

0    2.3
1     90
2    100
4    0.5
5     .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [126]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2       NaN
3        11
4    Python
5      -0.5
6       NaN
dtype: object

In [127]:
serie[serie.isnull()]=0
serie

0         1
1         3
2         0
3        11
4    Python
5      -0.5
6         0
dtype: object